@model List<WebApplication3.Models.HizmetEkle>

@{
    ViewBag.Title = "HizmetEkle";
}



<div style="margin: 50px 100px;">
    <h4 class="mb-3">Hizmet Kaydı</h4>
    <form class="needs-validation" novalidate="" action="~/Home/HizmetEkle" method="post" enctype="multipart/form-data">
        <div class="row g-3">

            <div class="col-sm-6">
                <label for="HizmetAdi" class="form-label">Hizmet Adı *</label>
                <input type="text" class="form-control" name="HizmetAdi" id="HizmetAdi" maxlength="50" placeholder="Hizmet adı giriniz..." required>
                <div class="invalid-feedback">
                    Boş geçmeyiniz...
                </div>
            </div>

            <div class="col-sm-6">
                <label for="HizmetBedeli" class="form-label">Hizmet Bedeli *</label>
                <input type="number" class="form-control" name="HizmetBedeli" id="HizmetBedeli" max="999999" placeholder="Hizmet bedeli giriniz..." required>
                <div class="invalid-feedback">
                    Boş geçmeyiniz...
                </div>
            </div>

            <hr class="my-4">
        </div>
        <button class="w-150 btn btn-warning" type="submit" style="right: 40px">Hizmet Kaydını Sisteme Tanımla</button>
    </form>
</div>




<div style="margin:25px 0px;">
    <div>
        <a name="editBtn" id="editBtn" class="nav-link text-white d-inline-block" style="cursor:pointer;">
            <svg class="bi pe-none me-2" width="20" height="20">
                <use xlink:href="#edit"></use>
            </svg>
        </a>
        <a name="pasifBtn" id="pasifBtn" class="nav-link text-white d-inline-block" style="cursor:pointer;">
            <svg class="bi pe-none me-2" width="20" height="20">
                <use xlink:href="#passive"></use>
            </svg>
        </a>
        <a name="aktifBtn" id="aktifBtn" class="nav-link text-white d-inline-block" style="cursor:pointer;">
            <svg class="bi pe-none me-2" width="20" height="20">
                <use xlink:href="#active"></use>
            </svg>
        </a>
        <form id="filterForm d-inline-block">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="chkSysAktif" onclick="filterTable()">
                <label class="form-check-label" for="chkSysAktif">Pasif Üyeleri Göster</label>
            </div>
        </form>

    </div>

    <table class="table table-dark table-hover" id="hizmetlerTable" style="margin:15px 0px;">
        <thead>
            <tr>
                <th>Hizmet</th>
                <th>Bedeli</th>
                <th>Hizmet Güncellenme Tarihi</th>
                <th>Hizmet Güncelleyen Personel</th>
            </tr>
        </thead>
        <tbody style="cursor:pointer;">

            @foreach (var HizmetEkle in Model)
            {
                <tr data-sysaktif="@HizmetEkle.SysAktif">
                    <td hidden>@HizmetEkle.Id</td>
                    <td>@HizmetEkle.HizmetAdi</td>
                    <td>@HizmetEkle.HizmetBedeli</td>
                    <td>@HizmetEkle.HizmetGuncellenmeTarihi</td>
                    <td>@HizmetEkle.HizmetGuncelleyenPersonel</td>
                </tr>
            }

        </tbody>
    </table>
</div>
<form id="editForm" action="~/Home/HizmetGuncelle" method="post" enctype="multipart/form-data">
    <div id="editPopup" class="popup">
        <span class="close" onclick="closePopup()">&times;</span>
        <h2>Edit Form</h2>

        <div class="row g-3">

            <input type="hidden" id="EditId" name="Id">

            <div class="col-sm-6">
                <label for="HizmetAdi" class="form-label">Hizmet Adı *</label>
                <input type="text" class="form-control" name="HizmetAdi" id="EditHizmetAdi" maxlength="50" placeholder="Hizmet adı giriniz..." required>
                <div class="invalid-feedback">
                    Boş geçmeyiniz...
                </div>
            </div>

            <div class="col-sm-6">
                <label for="HizmetBedeli" class="form-label">Hizmet Bedeli *</label>
                <input type="number" class="form-control" name="HizmetBedeli" id="EditHizmetBedeli" max="999999" placeholder="Hizmet Bedeli giriniz..." required>
                <div class="invalid-feedback">
                    Boş geçmeyiniz...
                </div>
            </div>

            <hr class="my-4">
        </div>
        <button class="w-150 btn btn-warning" type="submit" style="right: 40px">Hizmet Kaydını Güncelle</button>

    </div>
</form>
<div class="modal" tabindex="-1" role="dialog" id="confirmationModalPasif">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Onay</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bu kaydı silmek istediğinize emin misiniz?
            </div>
            <div class="modal-footer">
                <form action="~/Home/HizmetPasif" method="post">
                    <input type="hidden" id="HizmetIDPasif" name="Id">
                    <button type="submit" class="btn btn-primary">Evet</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="confirmationModalAktif">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Onay</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bu kaydı aktif etmek istediğinize emin misiniz?
            </div>
            <div class="modal-footer">
                <form action="~/Home/HizmetAktif" method="post">
                    <!-- UyeID yerine UyeIDAktif olarak değiştirildi -->
                    <input type="hidden" id="HizmetIDAktif" name="Id">
                    <button type="submit" class="btn btn-primary">Evet</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    window.onload = function () {
        filterTable(); // Sayfa yüklendiğinde filtrelemeyi başlat
    };

    function filterTable() {
        var chkSysAktif = document.getElementById('chkSysAktif');
        var hizmetlerTable = document.getElementById('hizmetlerTable');

        var rows = hizmetlerTable.getElementsByTagName('tr');

        for (var i = 1; i < rows.length; i++) {
            var sysAktifCell = rows[i].dataset.sysaktif; // data-sysaktif attribute'ünden değeri al
            var sysAktifValue = parseInt(sysAktifCell);

            rows[i].style.display = chkSysAktif.checked ? (sysAktifValue === 0 ? '' : 'none') : (sysAktifValue === 1 ? '' : 'none');
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        var hizmetlerTable = document.getElementById('hizmetlerTable');

        hizmetlerTable.addEventListener('click', function (event) {
            var target = event.target;

            // Tıklanan element bir <td> hücresi ise üst satırı (tr) al
            var selectedRow = target.tagName === 'TD' ? target.parentElement : target;

            // Satırın önceki seçili olma durumunu temizle
            var previousSelectedRow = hizmetlerTable.querySelector('.selected-row');
            if (previousSelectedRow) {
                previousSelectedRow.classList.remove('selected-row');
                previousSelectedRow.style.backgroundColor = ''; // Önceki satırın rengini sıfırla
            }

            // Tıklanan satırı seçili yap
            selectedRow.classList.add('selected-row');
        });

        var editBtn = document.getElementById('editBtn');
        if (editBtn) {
            editBtn.addEventListener('click', function () {
                editRow();
            });
        } else {
            console.error('editBtn id\'sine sahip bir HTML öğesi bulunamadı.');
        }

        var pasifBtn = document.getElementById('pasifBtn');
        var confirmationModalPasif = new bootstrap.Modal(document.getElementById('confirmationModalPasif'));

        if (pasifBtn && confirmationModalPasif) {
            pasifBtn.addEventListener('click', function () {
                // Onay modal'ını göster
                setSelectedUyeID(); // Seçili UyeID'yi ayarla
                confirmationModalPasif.show();
            });
        } else {
            console.error('pasifBtn veya confirmationModalPasif bulunamadı.');
        }

        var aktifBtn = document.getElementById('aktifBtn');
        var confirmationModalAktif = new bootstrap.Modal(document.getElementById('confirmationModalAktif'));

        if (aktifBtn && confirmationModalAktif) {
            aktifBtn.addEventListener('click', function () {
                // Onay modal'ını göster
                setSelectedUyeID(); // Seçili UyeID'yi ayarla
                confirmationModalAktif.show();
            });
        } else {
            console.error('aktifBtn veya confirmationModalAktif bulunamadı.');
        }
    });

    function editRow() {
        var selectedRow = document.querySelector('.selected-row');

        if (selectedRow) {
            // Seçili satırdaki üye bilgilerini al
            var Id = selectedRow.cells[0].innerText;
            var hizmetAdi = selectedRow.cells[1].innerText;
            var hizmetBedeli = selectedRow.cells[2].innerText;

            console.log(Id, hizmetAdi, hizmetBedeli);

            // Inputları doldur
            document.getElementById('EditId').value = Id;
            document.getElementById('EditHizmetAdi').value = hizmetAdi;
            document.getElementById('EditHizmetBedeli').value = hizmetBedeli;

            // Popup'ı görünür yap
            var popup = document.getElementById('editPopup');
            popup.style.display = 'block';
        } else {
            console.error('Lütfen bir satır seçin.');
        }
    }

    function closePopup() {
        var popup = document.getElementById('editPopup');
        popup.style.display = 'none';
    }

    // UyeID değerini gizli alana atayan fonksiyon
    function setSelectedUyeID() {
        var selectedRow = document.querySelector('.selected-row');

        if (selectedRow) {
            // Seçili satırdaki UyeID değerini al
            var Id = selectedRow.cells[0].innerText;

            // Gizli alana atama
            document.getElementById('HizmetIDAktif').value = Id;
            document.getElementById('HizmetIDPasif').value = Id;
        } else {
            console.error('Lütfen bir satır seçin.');
        }
    }

</script>




<style>
    .selected-row {
        background-color: #4CAF50;
        color: white;
    }

    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #ccc;
        padding: 15px;
        background: #fff;
        z-index: 1;
    }

        .popup h2 {
            margin-bottom: 15px;
        }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    tr.selected {
        background-color: #a5d8ff; /* İstediğiniz rengi burada belirtin */
    }
</style>

